#wrapper {
    height: 100vh;
    background-size: auto 100%;
}
#innerWrapper {
    margin: 0;
    padding: 0.5%;
    height: 100%;
}
#topRow{
    height: 18vh;
    margin-bottom: 10px;
}
#settingsRow{
    position: fixed;
    bottom: 0;
    background-color: #535353;
    width: 100%;
    left: 0;
    color: white;
    z-index: 7;
}
#resourceColumn{
    padding-left: 0;
    margin-left: 15px;
    width: calc(33.33333% - 15px);
    padding-right: 15px;
    height: 100%;
}
.myBox{
    border: 2px solid white;
    height: 100%;
    width: 100%;
    background: rgba(121, 121, 121, 0.5);
    color: white;
}
#leftColumn{
    height: 100%;
    margin-left: 15px;
    padding-right: 0.25vw;
    padding-left: 0;
}
#arenaColumn{
    height: calc(100vh - 18vh - 56px);
    padding-right: 0.25vw;
    padding-left: 0.25vw;
}
#rightColumn{
    height: 100%;
    padding-left: 0.25vw;
    margin-right: 15px;
    padding-right: 0;
}