#wrapper {
    height: 100vh;
    background-size: auto 100%;
}
#innerWrapper {
    margin: 0;
    padding: 0.5%;
    height: 100%;
}
#topRow{
    height: 18vh;
    margin-bottom: 10px;
}
#settingsRow{
    position: fixed;
    bottom: 0;
    background-color: #535353;
    width: 100%;
    left: 0;
    color: white;
    z-index: 7;
}
#resourceColumn{
    padding-left: 0;
    margin-left: 15px;
    width: calc(33.33333% - 15px);
    padding-right: 15px;
    height: 100%;
}
.myBox{
    border: 2px solid white;
    height: 100%;
    width: 100%;
    background: rgba(121, 121, 121, 0.5);
    color: white;
}
#leftColumn{
    height: 100%;
}
#arenaColumn{
    height: calc(100vh - 18vh - 56px);

}
#rightColumn{
    height: 100%;
}
#arenaContainer{
    padding: 0.25vw;
}
#gridRow{
    height: calc(99% - 140px);
    padding-left: 0;
    margin-left: 0;
}
#arenaButtonsColumn{
    padding-right: 1px;
    padding-left: 0;
}
#grid{
    width: 100%;
    height: 100%;
    color: black;
    background: rgba(255,255,255,0.25);
    text-align: left;
    list-style: none;
    padding-left: 0;
    cursor: default;
}