#wrapper {
    height: 100vh;
    background-size: auto 100%;
}
#innerWrapper {
    margin: 0;
    padding: 0.5%;
    height: 100%;
}
#settingsRow{
    position: fixed;
    bottom: 0;
    background-color: #535353;
    width: 100%;
    left: 0;
    color: white;
    z-index: 7;
}
#settingsTable{
    width: 100%;
}
#settingsTable > tbody > tr > td {
    width: 9.1% !important;
    border: 1px solid black;
    display: table-cell !important;
    text-align: center;
}
#resourceColumn{
    padding-right: 15px;
    height: 100%;
}
.myBox{
    border: 2px solid white;
    height: 100%;
    width: 100%;
    background: rgba(121, 121, 121, 0.5);
    color: white;
    padding: 0;
}
#leftColumn{
    height: 100%;
}
#rightColumn{
    height: 100%;
}
.jobBox{
    height: 15vh;
    padding-bottom: 10px;
}
#logRow, #statsRow{
    height: 30vh;
    padding-bottom: 10px;
}
#buyRow{
    height: 60vh;
}
.top5{
    margin-top: 5px;
}
.title {
    font-weight: bold;
    font-size: 1.4em;
}
.jobContainer{
    position: relative;
    font-size: 1.5vmin;
    text-align: center;
    height: 100%;
}
.progress{
    position: relative;
    margin-bottom: 0;
}
.resProgress{
    height: 12%;
}
.percentColorGreen{
    background-color: #31f500;
}
.progress > div > span{
    position: absolute;
    display: block;
    width: 100%;
    font-size: 1vw;
    line-height: 1vw;
    margin: 0;
    padding: 0;
    color: black;
}
#buyContainer{
    overflow-y: auto;
}
.buyContainerSizeSm{
    height: calc(99vh - 20vw - 195px);
}
.tabSelected .buyTab{
    background: rgba(255,255,255,0.25);
}
.tabNotSelected{
    background: rgba(255,255,255,0.25);
}
.nav > li{
    cursor: pointer;
}
.buyTab{
    font-size: 1vw;
}
.buyTab > ul > .tabSelected a {
    border-bottom: 0;
}
.tabsUl > li > a{
    border: 1px solid #ddd;
    border-radius: 8px 8px 0 0 !important;
}
.nav-tabs > li > a{
    color: white;
    font-size: 1vw;
    padding: 4px;
    display: block;
}
#buyHere{
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    overflow-y: auto;
}
.titleDiv{
    font-size: 1.5em;
    padding: 5px 0 5px 0;
    text-align: center;
    width: calc(100% - 10px);
}
.titleSpan{
    font-size: 0.9vw;
    display: block;
}
.thingColorCanAfford{
    background: black;
}
.thingColorCanNotAfford{
    background: gray;
}
.pointer{
    cursor: pointer;
}
.thing{
    display: inline-block;
    width: 24.2%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    padding: 0.2vh;
    text-align: center;
    color: white;
    font-size: 0.85vw;
    border: 1px solid white;
}
.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#logBtnGroup{
    height: 2vw;
    font-size: 1vw;
}
#log{
    height: calc(100% - 2.1vw);
    width: 100%;
    overflow-y: scroll;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
}
#logBtnGroup div button{
    font-size: 0.8vw;
}
#logConfigBtn{
    text-align: center;
}
#tooltipDiv{
    width: 32.5vw;
    position: absolute;
    background: lightgray;
    display: none;
    padding: 10px;
    border: 2px solid green;
    font-size: 0.9vw;
    z-index: 7;
}
#tipTitle{
    font-size: 1.2em;
    text-align: center;
}
.resPut{
    align-self: center;
}
.resInput, .resOutput{
    width: 50%;
}
.resProfit{
    position: absolute;
    bottom: 0;
}
#statsRow{
}
#statsContainer{
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    overflow-y: auto;
    height: 85%;
}
#productionTable, #marketTable{
    color: white;
    font-size: 1vw;
}
#productionTable > tbody > tr >td{
    color: white;
}
#marketContainer, #productionContainer{
    width: 100%;
}
.redText{
    color: orangered;
}
#tipCost{
    text-align: center;
}
#searchSettingsTitle{
    font-size: 1.5vw;
    margin:  0 3vw;
}
#settingsTitleBar{
    text-align: center;
    padding-top: 1.5vw;
    margin-bottom: 1.5vw;
}
#searchSettings{
    color: black;
    font-size: 1.5vw;
    line-height: 1.5vw;
    width: 30%;
}
#settingsTabs{
    margin-top: 0.75vw;
}
#settingsSearchResults{
    height: 5.2vw;
}
.optionContainer{
    display: inline-block;
    vertical-align: top;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 1vw;
    width: 15.5vw;
}
.settingsBtn{
    font-size: 1.3vw;
    border: 1px solid black !important;
    cursor: pointer;
    text-align: center;
}
.settingBtntrue, .settingBtn1{
    background-color: #5cb85c;
    color: white;
}
.settingBtntrue:hover, .settingBtn1:hover{
    background-color: #449d44;
    border-color: #398439;
}
.settingBtnfalse, .settingBtn0{
    background-color: #d9534f;
    color: white;
}
.settingBtnfalse:hover, .settingBtn0:hover{
    background-color: #d43f3a;
    border-color: #ac2925;
}
.settingBtn2, .btn-yellow{
    background-color: yellow;
    color: black;
}
.settingBtn2:hover, .btn-yellow:hover{
    background-color: #e6e600;
    color: black;
    border-color: #c2c200;
}
.wheatText{
    color: #ffc107;
}
.woodText{
    color: #664d03;
}
.metalText{
    color: midnightblue;
}
.clothText{
    color: #ff6ce4;
}
.tealColor{
    background-color: #318696 !important;
    color: white;
}
#sellingWrapper{
    color: black;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 0.6% 5vw;
    background-color: #3bba04;
}
#sellingTitleRow {
    height: 6.5vw;
    margin-bottom: 0.5vw;
}
.titleCol{
    display: inline-block;
    width: 35%;
    padding: 0 1%;
    position: absolute;
    top: 0.5vw;
}
#sellingTitleColLeft{
    left: 22%;
}
#sellingTitleColRight{
    position: absolute;
    left: 47%;
}
#sellingTitle{
    width: 100%;
    font-size: 3.3vw;
    text-align: center;
    margin-top: 0.9vw;
}
#sellingError{
    background-color: black;
    color: red;
    display: block;
    padding: 2%;
    font-size: 0.9vw;
    margin-top: -3%;
}
#sellingAwards{
    font-size: 2vw;
    line-height: 2.8vw;
}
#sellingTotalAwards, #sellingTotalSpent, #sellingTotalSells{
    font-size: 1.3vw;
    line-height: 1.7vw;
}
#sellingRow{
    margin-top: 1vw;
}
#grantCol, #challengeCol{
    padding: 0 1%;
}
.challengeTitle{
    text-align: center;
    font-size: 1.3vw;
    font-weight: bold;
}
#sellingStory{
    display: inline-block;
    font-size: 1.15vw;
}
#specialistsHere{
    display: inline-block;
    max-height: calc(100vh - 21.3vw);
    overflow-y: auto;
    width: 100%;
}
.sellingThing{
    width: 19.3%;
    font-size: 1.1vw;
}
.specialistColorOn{
    background-color: black;
}
.specialistColorOff{
    background-color: gray;
}
.specialistColorMaxed{
    background-color: #696980;
}
.sellingThing .thingName {
    font-size: 1em;
    font-weight: bold;
}
.sellingThing .thingOwned {
    font-size: 0.9em;
}
#viewChallenge{
    max-height: 60vh;
    overflow-y: auto;
}
#viewChallengeText, #extraChallengeStuff{
    font-size: 1.3vw;
    color: white;
}
.inSellingBtn{
    font-size: 2vw !important;
}