#wrapper {
    height: 100vh;
    background-size: auto 100%;
}
#innerWrapper {
    margin: 0;
    padding: 0.5%;
    height: 100%;
}
#settingsRow{
    position: fixed;
    bottom: 0;
    background-color: #535353;
    width: 100%;
    left: 0;
    color: white;
    z-index: 7;
}
#settingsTable{
    width: 100%;
}
#settingsTable > tbody > tr > td {
    width: 9.1% !important;
    border: 1px solid black;
    display: table-cell !important;
    text-align: center;
}
#resourceColumn{
    padding-right: 15px;
    height: 100%;
}
.myBox{
    border: 2px solid white;
    height: 100%;
    width: 100%;
    background: rgba(121, 121, 121, 0.5);
    color: white;
    padding: 0;
}
#leftColumn{
    height: 100%;
}
#rightColumn{
    height: 100%;
}
.jobBox{
    height: 15vh;
    padding-bottom: 10px;
}
#logRow, #statsRow{
    height: 30vh;
    padding-bottom: 10px;
}
#buyRow{
    height: 60vh;
}
.top5{
    margin-top: 5px;
}
.title {
    font-weight: bold;
    font-size: 1.4em;
}
.jobContainer{
    position: relative;
    font-size: 1.5vmin;
    text-align: center;
    height: 100%;
}
.progress{
    position: relative;
    margin-bottom: 0;
}
.resProgress{
    height: 12%;
}
.percentColorGreen{
    background-color: #31f500;
}
.progress > div > span{
    position: absolute;
    display: block;
    width: 100%;
    font-size: 1vw;
    line-height: 1vw;
    margin: 0;
    padding: 0;
    color: black;
}
#buyContainer{
    overflow-y: auto;
}
.buyContainerSizeSm{
    height: calc(99vh - 20vw - 195px);
}
.tabSelected .buyTab{
    background: rgba(255,255,255,0.25);
}
.tabNotSelected{
    background: rgba(255,255,255,0.25);
}
.nav > li{
    cursor: pointer;
}
.buyTab{
    font-size: 1vw;
}
.buyTab > ul > .tabSelected a {
    border-bottom: 0;
}
.tabsUl > li > a{
    border: 1px solid #ddd;
    border-radius: 8px 8px 0 0 !important;
}
.nav-tabs > li > a{
    color: white;
    font-size: 1vw;
    padding: 4px;
    display: block;
}
#buyHere{
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    overflow-y: auto;
}
.titleDiv{
    font-size: 1.5em;
    padding: 5px 0 5px 0;
    text-align: center;
    width: calc(100% - 10px);
}
.titleSpan{
    font-size: 0.9vw;
    display: block;
}
.thingColorCanAfford{
    background: black;
}
.thingColorCanNotAfford{
    background: gray;
}
.pointer{
    cursor: pointer;
}
.thing{
    display: inline-block;
    width: 24.2%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    padding: 0.2vh;
    text-align: center;
    color: white;
    font-size: 0.85vw;
    border: 1px solid white;
}
.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#logBtnGroup{
    height: 2vw;
    font-size: 1vw;
}
#log{
    height: calc(100% - 2.1vw);
    width: 100%;
    overflow-y: scroll;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
}
#logBtnGroup div button{
    font-size: 0.8vw;
}
#logConfigBtn{
    text-align: center;
}
#tooltipDiv{
    width: 32.5vw;
    position: absolute;
    background: lightgray;
    display: none;
    padding: 10px;
    border: 2px solid green;
    font-size: 0.9vw;
    z-index: 7;
}
#tipTitle{
    font-size: 1.2em;
    text-align: center;
}
.resPut{
    align-self: center;
}
.resInput, .resOutput{
    width: 50%;
}
.resProfit{
    position: absolute;
    bottom: 0;
}
#statsRow{
}
#statsContainer{
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    overflow-y: auto;
}
#productionTable, #marketTable{
    color: white;
    font-size: 1vw;
}
#productionTable > tbody > tr >td{
    color: white;
}
#marketContainer, #productionContainer{
    width: 100%;
}
.redText{
    color: orangered;
}